@use "base/mixins" as mixins;
@use "base/variables" as vars;

.footer {
  position: relative;

  & .footer__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
  }

  & span {
    font-size: 24px;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 20px 0;
    font-weight: 600;
    font-size: 24px;
    justify-content: space-between;
    text-transform: uppercase;
  }
}

@media #{vars.$xsmall} {
  .footer {
    & span {
      font-size: 16px;
    }

    &__wrapper {
      font-size: 18px;
      gap: 16px;
    }

    &__year {
      display: none;
    }
  }
}
