@use "base/mixins" as mixins;
@use "base/variables" as vars;

.header {
  background-color: #030303;
  &__wrapper {
    display: flex;
    align-items: center;
    padding: 20px 0;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    gap: 56px;
    justify-content: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -2%;
    text-transform: uppercase;

    & h1 {
      font-size: 32px;
    }
  }

  &__arrow {
    height: 40px;
    aspect-ratio: 1;

    &--l {
      transform: rotate(180deg);
    }
  }
}

@media #{vars.$small} {
  .header {
    &__content {
      & h1 {
        font-size: 26px;
      }
    }

    &__arrow {
      height: 30px;
    }
  }
}

@media #{vars.$xsmall} {
  .header {
    &__content {
      & h1 {
        font-size: 14px;
      }
    }

    &__arrow {
      height: 16px;
    }
  }
}
