@use "base/mixins" as mixins;
@use "base/variables" as vars;

.hero {
  height: 1176px;
  position: relative;
  background-color: gray;
  background: linear-gradient(to bottom, #0f0f0f 0%, #373737 100%);
  &__figure {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 416px;
    height: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030303;
  }
  &__banner-data {
    display: flex;
    padding: 0 10px;
    width: 100%;
    justify-content: space-between;
  }
  &__banner {
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    gap: 20px;
    padding: 26px;
    align-items: center;
    flex-direction: column;
    width: 220px;
    background-color: #030303;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 120px;
      width: 15px;
      background-color: #01d344;
    }
  }
  &__decor {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }

  &__text-decor {
    font-size: 24px;
    font-weight: 300;
    position: absolute;
    &--lg {
      font-size: 60px;
    }
    &--1 {
      top: 10%;
      left: 30%;
    }
    &--2 {
      top: 20%;
      left: 67%;
    }
    &--3 {
      top: 50%;
      left: 30%;
    }
    &--4 {
      top: 80%;
      left: 5%;
    }
    &--5 {
      top: 8%;
      left: 66%;
    }
    &--6 {
      top: 68%;
      left: 66%;
    }
    &--7 {
      top: 8%;
      left: 66%;
    }
  }
  &__wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__features {
    position: absolute;
    top: 32px;
    left: 260px;
    display: flex;
    align-items: center;
    gap: 76px;
    font-size: 12px;
  }
  &__features-item {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    margin-top: auto;
    font-weight: 500;
    padding: 6px 0;
    text-align: center;
    color: #030303;
    background-color: #01d344;
  }

  &__timer {
    width: 416px;
    position: absolute;
    right: 0;
    bottom: 34px;
    background-color: #fff;
    color: #030303;

    & span {
      display: inline-block;
    }
  }

  &__timer-header {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    color: #fff;
    background-color: #030303;
  }

  &__timer-content {
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 96px;
  }
}

@media #{vars.$xsmall} {
}
