@use "base/mixins" as mixins;
@use "base/variables" as vars;

.notice {
  color: #000;
  background-color: #d9d9d9;

  &__content {
    background-color: #fff;
  }

  &__caption {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 32px;
  }

  &__subcation {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid #00000077;
  }

  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__content-wrapper {
    max-width: 780px;
    display: flex;
    gap: 100px;
    padding: 32px 32px 24px 32px;
  }

  &__decor-content {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__footer {
    margin-top: 6px;
    color: #000;
    font-size: 32px;
    font-weight: 500;
    padding: 20px 32px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #01d344;
  }

  &__decor {
    flex-grow: 1;
    min-height: 236px;
    position: relative;
    overflow: hidden;

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      object-fit: cover;
      transition: transform 4s ease-in-out;
      transform-origin: center;
      animation: stretchMove 4s infinite alternate ease-in-out;
    }
  }
}

@media #{vars.$small} {
  .notice {
    &__footer,
    &__caption {
      font-size: 24px;
    }

    &__wrapper {
      flex-direction: column-reverse;
    }

    &__content-wrapper {
      max-width: 100%;
    }
  }
}

@media #{vars.$xsmall} {
  .notice {
    &__footer {
      font-size: 16px;
      margin-top: 0;
      padding: 20px 16px;
    }

    &__caption {
      font-size: 2-px;
    }

    &__decor-content {
      gap: 20px;
      width: 50%;
    }

    &__content-wrapper {
      max-width: 100%;
      gap: 20px;
      padding: 16px;
      flex-direction: column;
    }
  }
}

@keyframes stretchMove {
  0% {
    transform: scale(1, 1) translateX(0);
  }

  50% {
    transform: scale(1.2, 1.3) translateX(10px);
  }

  100% {
    transform: scale(1, 1) translateX(0);
  }
}
