@use "base/mixins" as mixins;
@use "base/variables" as vars;

.notice {
  color: #000;
  background-color: #d9d9d9;
  &__content {
    background-color: #fff;
  }
  &__caption {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 32px;
  }
  &__subcation {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid #00000077;
  }
  &__wrapper {
    display: flex;
    width: 100%;
  }
  &__content-wrapper {
    max-width: 780px;
    display: flex;
    gap: 100px;
    padding: 32px 32px 24px 32px;
  }
  &__decor-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__footer {
    margin-top: 6px;
    color: #000;
    font-size: 32px;
    font-weight: 500;
    padding: 20px 32px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #01d344;
  }
  &__decor {
    max-height: 330px;
    flex-grow: 1;
    position: relative;
    & img {
      width: 100%;
      height: 100%;
      inset: 0;
      object-fit: cover;
    }
  }
}
