@use "base/mixins" as mixins;
@use "base/variables" as vars;

.promo {
  padding: 60px 0;
  font-weight: 300;

  &__wrapper {
    position: relative;
    max-width: 1380px;
    margin: 0 auto;
  }

  &__img {
    position: relative;
    margin: 0 auto;
    width: 490px;
    height: 636px;
    border: 1px solid #fff;

    & video {
      position: absolute;
      width: 99%;
      height: 100%;
      inset: 0;
      object-fit: cover;
    }
  }

  &__img-decor {
    position: absolute;
    z-index: 1;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    top: -6px;
    left: -6px;
    background-color: #fff;

    &--2 {
      left: 50%;
      transform: translateX(-6px);
      background-color: #0f0f0f;
    }

    &--3 {
      left: auto;
      right: -6px;
    }

    &--4 {
      top: auto;
      bottom: -6px;
      left: auto;
      right: -6px;
    }

    &--5 {
      top: auto;
      bottom: -6px;
      left: auto;
      right: 50%;
      transform: translateX(6px);
      background-color: #0f0f0f;
    }

    &--6 {
      top: auto;
      bottom: -6px;
    }
  }

  &__item {
    position: absolute;

    &--1 {
      padding-left: 88px;
      padding-bottom: 36px;
      width: 600px;
      top: 0;
      left: 0px;
    }

    &--2 {
      top: 35%;
      left: 0px;

      & .promo__item-line {
        top: 50%;
        right: -300px;
        width: 300px;
        height: 1px;
      }
    }

    &--3 {
      position: absolute;
      top: 35%;
      right: 0;
      padding-left: 88px;
      padding-bottom: 30px;

      & .promo__item-line--1 {
        bottom: 7px;
        left: -247px;
        width: 280px;

        & .promo__item-number {
          right: auto;
          left: -24px;
          top: -15px;
        }

        & .promo__item-number-icon {
          right: auto;
          left: 0;
        }
      }

      & .promo__item-line--2 {
        height: 124px;
      }
    }
  }

  &__item-title {
    position: relative;
    padding-right: 26px;
    width: max-content;
    border-bottom: 1px solid #fff;
    margin-bottom: 16px;
    padding-top: 17px;
    font-size: 32px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 12px;
      height: 12px;
      background-color: #fff;
    }
  }

  &__item-list {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item-icon {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 64px;
    height: 64px;
  }

  &__item-list-item {
    position: relative;
    font-size: 12px;
    padding-left: 18px;

    &::before {
      position: absolute;
      content: "";
      top: 3px;
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #fff;
    }
  }

  &__item-line {
    position: absolute;
    background-color: #fff;

    &--1 {
      width: 100%;
      bottom: 0;
      left: 32px;
      height: 1px;
    }

    &--2 {
      top: 52px;
      left: 32px;
      height: 100px;
      width: 1px;
    }
  }

  &__item-number {
    font-size: 12px;
    position: absolute;
    right: 35px;
    top: -15px;
  }

  &__item-number-icon {
    position: absolute;
    right: 0;
    top: -13px;
    width: 25px;
    height: 25px;
  }

  &__item-preview {
    padding: 20px;
    border: 1px solid #fff;
  }

  &__item-preview-decor {
    position: absolute;
    top: -6px;
    left: -6px;
    width: 12px;
    height: 12px;
    background-color: #fff;

    &--2 {
      right: -6px;
      left: auto;
    }

    &--3 {
      right: -6px;
      left: auto;
      bottom: -6px;
      top: auto;
    }

    &--4 {
      bottom: -6px;
      top: auto;
    }
  }

  &__numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 376px;
    left: 0px;
    bottom: 0;
    position: absolute;
  }

  &__number {
    padding: 6px;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    font-size: 13px;

    &--1 {
      background-color: #fff;
      color: #030303;
    }
  }

  &__info {
    position: absolute;
    top: 0;
    right: 0px;
    width: 383px;
  }

  &__mobile-bar {
    display: none;
  }

  &__info-text {
    font-size: 12px;
    padding: 24px 0;
    margin-bottom: 14px;
    border-bottom: 1px solid #fff;
  }

  &__info-bar {
    font-size: 13px;
    display: flex;
    gap: 6px;
  }

  &__codes {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;

    & span {
      width: 100%;
      text-align: center;
      padding: 20px 0;
      display: inline-block;
      border-bottom: 1px solid #fff;
      border-top: 1px solid #fff;
    }
  }

  &__codes-wrapper {
    display: flex;
    align-items: center;
    height: 90px;
    gap: 24px;
    margin-top: 40px;
  }

  &__codes-decor {
    height: 90%;
    width: 1px;
    background-color: #fff;
  }

  &__bar,
  &__qr {
    padding: 16px;
    border: 1px solid #fff;
  }
}

@media only screen and (max-width: 1360px) {
  .promo {
    padding: 40px 0;

    &__wrapper {
      display: flex;
      align-items: center;
      max-width: 768px;
      min-height: 1532px;
    }

    &__info {
      right: 30px;
    }

    &__item-icon {
      width: 56px;
      height: 56px;
    }

    &__img {
      margin-top: -30%;
      width: 410px;
      height: 571px;
    }

    &__item-title {
      font-size: 24px;
    }

    &__item {
      &--1 {
        width: auto;
        top: 10%;
        left: 30px;
        padding-left: 0;
        padding-bottom: 74px;

        & .promo__item-icon {
          width: 56px;
          height: 56px;
          bottom: 0;
        }

        & .promo__item-line--1 {
          top: auto;
          left: 28px;
          bottom: -174px;
        }

        & .promo__item-line--2 {
          height: 174px;
          left: 28px;
          top: auto;
          bottom: -174px;
          width: 1px;
        }
      }

      &--2 {
        top: auto;
        left: auto;
        right: 30px;
        bottom: 10%;

        &:before {
          content: "";
          position: absolute;
          top: -423px;
          left: calc(50% - 1px);
          height: 423px;
          width: 1px;
          background-color: #fff;
        }

        & .promo__item-preview {
          width: 341px;
          height: 232px;

          & img {
            height: 100%;
          }
        }

        & .promo__item-line {
          top: -424px;
          right: 50%;
          width: 107px;
          height: 1px;

          & .promo__item-number {
            right: auto;
            left: -20px;
          }

          & .promo__item-number-icon {
            right: auto;
            left: 0;
          }
        }
      }
      &--3 {
        position: absolute;
        top: auto;
        right: auto;
        left: 30px;
        bottom: 25%;
        padding-left: 0;
        padding-top: 70px;

        & .promo__item-icon {
          top: 0;
        }

        & .promo__item-line--1 {
          bottom: auto;
          top: -291px;
          left: 26px;
          width: 331px;

          & .promo__item-number {
            right: 33px;
            left: auto;
            top: -15px;
          }

          & .promo__item-number-icon {
            right: 0;
            left: auto;
          }
        }

        & .promo__item-line--2 {
          height: 291px;
          top: -291px;
          left: 26px;
        }
      }
    }

    &__numbers {
      display: flex;
      width: 100px;
      left: auto;
      right: 30px;
      bottom: 45%;
      position: absolute;
    }

    &__codes {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 32px;
    }

    &__codes-wrapper {
      min-width: 360px;
      margin-top: 0;
    }
  }
}

@media #{vars.$xsmall} {
  .promo {
    &__info {
      width: 100%;
      left: auto;
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      order: -1;
      margin-bottom: 40px;

      & .promo__info-bar {
        align-items: center;

        & img {
          display: none;
        }
      }
    }
    &__info-mobile-bar {
      display: flex;
      flex-grow: 1;
      height: 12px;
      border: 1px solid #fff;
      background-image: url("../assets/images/info-pattern.svg");
      background-repeat: repeat;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 20px;
        height: 100%;
        background-color: #fff;
      }
    }

    &__wrapper {
      align-items: flex-start;
      flex-direction: column;
      min-height: auto;
    }

    &__img {
      position: relative;
      margin-top: 0;
      width: 100%;
      height: 368px;
      margin-bottom: 40px;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 20%;
        width: 30%;
        background-color: #030303;
        z-index: 1;
      }
    }

    &__item {
      &--1 {
        left: 0;
        position: relative;
        margin-bottom: 40px;
        padding-left: 80px;
        padding-top: 0;
        padding-bottom: 0;

        & .promo__item-icon {
          bottom: auto;
          top: 0;
        }

        & .promo__item-line--1 {
          top: -130px;
          width: 154px;
          left: 26px;
          bottom: 0;
        }

        & .promo__item-line--2 {
          height: 138px;
          left: 26px;
          top: -130px;
          bottom: auto;
          width: 1px;
        }
      }

      &--2 {
        display: none;
      }

      &--3 {
        padding-left: 80px;
        padding-bottom: 0;
        padding-top: 0;
        position: relative;
        left: auto;
        top: auto;
        bottom: auto;
        right: auto;
        order: -1;
        margin-bottom: 44px;

        & .promo__item-line--1 {
          top: auto;
          left: 26px;
          width: 138px;
          bottom: -230px;
          z-index: 1;
        }

        & .promo__item-line--2 {
          height: 350px;
          left: 26px;
          top: auto;
          bottom: -230px;
          width: 1px;
          z-index: 1;
        }
      }
    }

    &__codes {
      top: auto;
      bottom: auto;
      right: auto;
      position: relative;
      flex-direction: column;
    }

    &__codes-wrapper {
      min-width: 100%;
    }

    &__numbers {
      width: 100%;
      margin-top: auto;
      margin-bottom: 40px;
      top: auto;
      gap: 14px;
      bottom: auto;
      right: auto;
      position: relative;
    }
  }
}
