@use "base/mixins" as mixins;
@use "base/variables" as vars;

.run {
  width: 100vw;
  overflow: hidden;
  &__mobile {
    height: 220px;
    flex-grow: 1;
    position: relative;
    display: none;
    & video {
      width: 100%;
      height: 120%;
      inset: 0;
      object-fit: cover;
    }
  }
  &__marquee {
    display: flex;
    width: 200vw;
    height: 100%;
    animation: marquee 20s linear infinite;
  }

  &__item {
    background-color: #fff;
    display: flex;
    height: 381px;
    flex-shrink: 0;
  }

  &__img-box {
    flex-grow: 1;
    margin-left: -2px;
    height: 100%;
    position: relative;
    background-color: #fff;

    & img {
      height: 100%;
    }
  }

  &__video-box {
    flex-grow: 1;
    height: 100%;
    position: relative;
    & video {
      width: 100%;
      height: 120%;
      inset: 0;
      object-fit: cover;
    }
  }
}

@media #{vars.$small} {
  .run {
    height: auto;
    &__mobile {
      display: block;
    }
    &__item {
      flex-direction: column;
    }
    &__video-box {
      display: none;
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}
