@use "base/mixins" as mixins;
@use "base/variables" as vars;

.run {
  width: 100vw;
  height: 330px;
  overflow: hidden;

  &__marquee {
    display: flex;
    width: 200vw;
    height: 100%;
    animation: marquee 20s linear infinite;
  }

  &__item {
    display: flex;
    width: 100vw;
    height: 100%;
    flex-shrink: 0;
  }

  &__img-box {
    flex-grow: 1;
    height: 100%;
    position: relative;
    background-color: #fff;

    & img {
      height: 100%;
    }
  }

  &__video-box {
    flex-grow: 1;
    height: 100%;
    position: relative;
    & video {
      width: 100%;
      height: 100%;
      inset: 0;
      object-fit: cover;
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}
